 
 
 body{
    font-family: 'Montserrat', sans-serif;
    display: block;
    bottom: center;
    right: center;
  }

  
  footer{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
	  text-align: center;
    background-color: #4fffca;
	  color: black;
	  bottom: 0px;
	  width: 100%;

  }

