 
 
 body{
    font-family: 'Montserrat', sans-serif;
    position: static;
    text-align: center;
    background-color: #055656;
    color: #4fffca;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  button{
    background-color: #055656;
    color: #4fffca;
    border: solid 5px #4fffca;
    border-radius: 10px;
    radius: 20px;
    padding: 10px;
    text-decoration: none;
    transition: all ease-in-out 500ms;

  }
  button:hover{
    color: #055656; 
    padding: 10px;
    background-color: #4fffca;
    transition: all ease-in-out 500ms;

  }
  button a{
    color: #4fffca;
    text-decoration: none;

  }
  button a:hover{
    color: white;
    text-decoration: none;

  }

  footer{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
	  text-align: center;
    background-color: #4fffca;
	  color: black;
	  bottom: 0px;
	  width: 100%;


  }

  i{
    color: #055656;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 500ms;
  }

  li {
    list-style: none;
    display: inline-block;

  }
  li i:hover{
    color: #097f7f;

  }

  .center {
    margin-left: auto;
    margin-right: 100px;
    
  }